.flip-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
 
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  

  .flip-card-back {
    transform: rotateY(180deg);
  }